<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         failOnNotice="true"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true"
>
    <php>
        <ini name="display_errors" value="1" />
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
